<h1>Listing users</h1>
<table>
<% @users.each do |user| %>
  <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">

    <td>
      <%= image_tag(user.avatar_url, class: 'list_image') %>
    </td>

    <td class="list_description">
      <dl>
        <dt><%= user.user_id %></dt>        
		<dd><%= truncate(strip_tags(user.description),
               length: 120) %></dd>
      </dl>
    </td>

    <td class="list_actions">
      <%= link_to 'Show', user %><br/>
      <%= link_to 'Edit', edit_user_path(user) %><br/>
      <%= link_to 'Destroy', user, method: :delete,
                  data: { confirm: 'Are you sure?' } %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New user', new_user_path %>
